/*--------------------------------------------------------------

Template: Theme Name
Author:
Version:  1
Design and Developed by:

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here:
-------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body{
    background: #363824;
}
a:focus, a:hover {
    color: var(--primary-color)!important;
}
a.btn-def:hover, a.btn-def.btn-white:hover, a.btn-def.btn2:hover {
    background: var(--primary-color) none repeat scroll 0 0;
    border-color:  var(--primary-color);
}
.banner-1{
    background: var(--primary-color);

}
.banner-1 img{

    padding: 10% 10% 0% 10%;
}
.banner-2{
    background: #b7af83;
}
.banner-2 img{

    padding: 10% 10% 0% 10%;
}
.banner-img-2.banner-3{
    background: #6d663c;
}
.banner-img-2.banner-3 img{
    padding: 10% 10% 0% 10%;
    width: 100%;
}
.banner-content {
    border: 2px solid #555;
    margin-right: 15px;
}
.banner-content.left-type{
    margin-left: 15px;
    margin-right: auto;
}
.banner-content-2{
    display: inline-block;
    padding: 20px;
    margin-top: -35px;
    z-index: 9;
    position: relative;

}
.banner-content-2 .content{
    border: 1px solid #fff;
    padding: 35px;
    min-height: 25vw;
}
.banner-content-2 .content h3{

    margin-top: 30px;
}
.banner-area .banner-area-left {
    background: var(--secondary-color);
}
.header-area{
    background: var(--secondary-color);
}
.header-top-bar {

    background: #363824;
}
.header-top-bar i{
    color:var(--primary-color);
}
.main-menu > li:hover > a, .main-menu > li > a.active{
background:var(--primary-color);
    color:#555!important;
}

.header-middle-area.sticky{
    background: var(--secondary-color);
}
.sticky .logo {
    padding: 0px 0;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.slider-content h1{
    color:var(--primary-color);
}
.slider-content {
    left: 33%;
}
.single-slider{
    max-height: 560px;
    overflow: hidden;
    background-size: cover;
}
.heading-title.big-title h3{
    font-weight: bold;
    color:#6d663c;
}
.heading-style:before, .heading-style-2 .active:before, .heading-style:after, .heading-style-2 .active:after {
    background: #cccccc none repeat scroll 0 0;
    top: auto;
    bottom: -13px;
    content: "";
    height: 0px;
    position: absolute;
}
.bg-sec{
    background: var(--secondary-color);
}
.nopadding{
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.new-arrival-area .heading-title p{
    color: #fff;
}
.p-area-2 .heading-title h2{
    color: #343726;
}
.p-area-2 .heading-title p{
    color: #343726;
}
.p-area-2{
}
.fabric-area h5{
    padding: 10px 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.pm-section .heading-title{
    padding-left: 30px;
}
.pm-section .heading-title h2{
    color:#343726!important;
    font-size: 42px;
}
.new-arrival-area .heading-title p {
    font-size: 22px;
}
.best-heading > h3 {

    color: #343726 !important;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.pm-section  .heading-title p{
    font-size: 22px;
}
.p-area-2 .heading-title img,.p-area-2 .heading-title a{
    text-align: left;
    float: left;
}
.new-arrival-area .heading-title h2{
    color: #fff;
    font-weight: bold;
}
.production-process h3{
    margin-bottom: 0px;
}
.production-process.yellow .best-product2{
    background: var(--primary-color);
}
.s-container{
    background: rgba(54,56,36,0.5) ;
    min-height: 160px;
}
.production-process .best-product2 h3 {
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}
.s-container img{
    width: 60%;
    margin: 0 auto;
    display: block;
 }
.s-container p{
text-align: center;
    color:#fff;
}
.production-process .view-all {
    background: var(--primary-color);
    width: 28vw;
    border: 0px solid #dddddd;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.new-arrival-area .heading-title p.f-18{
    font-size: 18px;
}
.instagrm li {
    float: left;
     margin-bottom: 0px;
    margin-right: 0px;
}
/* Title Styling */
.production-title {
    text-align: center;
    color: #fff; /* Adjust color as necessary */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}
.shop-main-area{
    background: #f2f2f2;
}
.shop-main-area .sidebar {
    background: var(--secondary-color);
    padding: 15px;
}
.production-process .best-product2{
    padding: 30px 10px;
}
.page-title{
    color: #ffffff;
}
.src-btn.sb-2 {
    background: var(--primary-color)  none repeat scroll 0 0;
}
.list-grid-view .nav > li > a.active, .list-grid-view .nav > li > a:hover{
    background: var(--primary-color);
}
.aside-title:after {
    background: #363824 none repeat scroll 0 0;
}
.product-cat ul li + li {
    border-top: 1px solid #363824;
}
.tag-filter li a {
    border: 1px solid #ccc;
    color: #fff;
    display: block;
    padding: 5px 15px;
    background: var(--primary-color);
}
.ck-content{
    background:#f2f2f2 ;
}
#page-home,#page-home .ck-content{
    background:#363824 !important;
}
.btn.btn-fill-out{
    background: var(--primary-color);
    color: #ffffff;
}
/* Row styling */
.production-process-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Item styling */
.ps-container{
    min-height: 160px;
}

/* Image styling */
.production-process-item img {
    max-width: 60px; /* Adjust width as necessary */
    margin-bottom: 15px;
}

/* Text styling */
.production-process-item p {
    color: #fff; /* Adjust color as necessary */
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
a.btn-def:hover, a.btn-def.btn-white:hover, a.btn-def.btn2:hover {
    background: var(--primary-color) none repeat scroll 0 0;
    border-color: var(--primary-color);
}
.scale-img{
    transform: scale(1.2);
}
.products-home .single-prodcut-img{
    background: #f2f2f2;
}
.products-home .single-prodcut-img img{
    width: 100%;
}
.single-footer.instagrm-area ul li{
    width: 48%;
    margin-right: 1%;
    display: inline-block;
}
.single-footer.instagrm-area ul li img{
    width: 100%;
}
.product-icon ul li{
    color: #ffffff;
}

.products-home .product-icon ul li a{
    border: 0px solid #fff;
    color: #fff;
    display: block;
    font-size: 16px;
    height: auto;
    line-height: 35px;
    text-align: center;
    width: auto;
}

.products-home  .product-icon ul li a:hover {
    background: transparent;
}

.products-home  .product-icon ul li a:hover {
    color: #fff0b7;
}

/*new about section*/
.nav__buttons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 4rem 2rem;
}

.section__title-1,
.section__title-2 {
    position: relative;
    font-size: 3rem;
    width: max-content;
    margin: 0.75rem auto 2rem;
}

.section__title-1 span,
.section__title-2 span {
    z-index: 5;
    position: relative;
}

.section__title-1::after,
.section__title-2::after {
    content: "";
    width: 40px;
    height: 28px;
    background-color: var(--primary-color) !important;
    position: absolute;
    opacity: 0.6;
    top: -4px;
    right: -8px;
}

.section__title-2::after {
    top: initial;
    bottom: -4px;
}

.geometric-box {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--first-color);
    rotate: -30deg;
}

.geometric-box::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 3px solid var(--black-color);
    left: -5px;
    top: -5px;
}

.main {
    overflow: hidden; /* For animation ScrollReveal */
}

/*=============== BUTTON ===============*/
.button,
.button__ghost {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}

.button {
    background-color: var(--black-color);
    padding: 1.1rem 1.5rem;
    color: var(--white-color);
    font-weight: var(--font-medium);
    border-radius: 0.75rem;
    transition: background-color 0.4s;
}

.button i {
    font-size: 1.25rem;
}

.button:hover {
    background-color: var(--first-color);
}

.button__ghost {
    border: 3px solid var(--black-color);
    color: var(--black-color);
    padding: 0.5rem;
    border-radius: 0.7rem;
    transition: border 0.4s, color 0.4s;
}

.button__ghost i {
    font-size: 1.25rem;
}

.button__ghost:hover {
    border: 3px solid var(--first-color);
}

/*=============== ABOUT ===============*/
.about {
    background-color: var(--container-color);
    transition: background-color 0.4s;
}

.about__container {
    row-gap: 0;
}

.about__perfil {
    position: relative;
    justify-self: center;
    margin-block: 2.5rem 4.5rem;
}

.about__image {
    width: 220px;
}

.about__img {
    position: relative;
    border: 4px solid var(--white-color);
    z-index: 1;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.about__shadow,
.about__line,
.about__box {
    position: absolute;
    border-radius: 0.75rem;
}

.about__shadow {
    width: 150px;
    height: 235px;
    background-color: var(--body-color);
    top: -2.5rem;
    right: -3.5rem;
    border-bottom: 4px solid var(--first-color);
    transition: background-color 0.4s;
    background: var(--secondary-color);
}

.about__perfil .geometric-box {
    top: 1.5rem;
    right: -2.8rem;
}

.about__line {
    filter: invert(1);
    right: -1.25rem;
    top: 6rem;
    width: 50px;
    transition: filter 0.4s;
}

.about__box {
    width: 40px;
    height: 40px;
    background-color: var(--first-color);
    right: -0.5rem;
    bottom: 1.5rem;
}

.about__info {
    padding-left: 1.25rem;
}

.about__description {
    position: relative;
    color: var(--title-color);
    margin-bottom: 1.5rem;
}

.about__description::after {
    content: "";
    width: 20px;
    height: 1px;
    background-color: var(--title-color);
    position: absolute;
    left: -1.75rem;
    top: 0.5rem;
}

.about__list {
    list-style: square;
    color: var(--title-color);
    margin-bottom: 3rem;
}

.about__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }
    .about__image {
        width: 180px;
    }
    .about__shadow {
        height: 330px;
        right: -2.5rem;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .about__container{
        grid-template-columns: 350px;
        justify-content: center;
    }
}

/* For large devices */
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }
    .about__container {
        grid-template-columns: 460px 525px;
        gap: 1rem 9rem;
        align-items: center;
        padding-block: 1rem;
    }
    .about__perfil {
        order: -1;
        grid-row: 1 / 3;
    }
    .about__image {
        width: 350px;
    }
    .about__img {
        border: 6px solid var(--white-color);
        width: 100%;
    }
    .about__shadow {
        width: 240px;
        height: 415px;
        top: -4rem;
        right: -5.5rem;
        border-bottom: 6px solid var(--first-color);
    }
    .about__perfil .geometric-box {
        right: -4rem;
        top: 4.5rem;
    }
    .about__line {
        width: 80px;
        right: -2rem;
        top: 10rem;
    }
    .about__box {
        width: 64px;
        height: 64px;
        right: -.75rem;
    }
    .about__container .section__title-1 {
        align-self: flex-end;
        margin-inline: 0;
    }
    .about__info {
        align-self: flex-start;
        padding-left: 3rem;
    }
    .about__description {
        font-size: var(--h2-font-size);
        margin-bottom: 2rem;
    }
    .about__description::after {
        width: 32px;
        height: 2px;
        left: -3rem;
        top: 14px;
    }
    .about__list {
        margin-bottom: 5rem;
    }
    .about__buttons {
        justify-content: initial;
    }
    .button__ghost {
        padding: 0.75rem;
    }
    .button__ghost i {
        font-size: 1.5rem;
    }
}

.choose-icon:before {
    border-left: 5px solid var(--primary-color);;
    border-top: 5px solid var(--primary-color);

}
.single-choose .choose-icon {
    color: var(--secondary-color);
}
@media screen and (min-width: 600px) {
    .slider-area .single-slider{
        min-height: 320px;
    }
}
@media screen and (max-width: 480px) {
    .slider-area .single-slider{
        min-height: 320px;
    }
    .new-arrival-area .heading-title p {
        font-size: 16px;
    }
    .pm-section .heading-title h2{
        color: #343726 !important;
        font-size: 24px;
    }
    .new-arrival-area .heading-title h2{

        font-size: 24px;
    }
    .pm-section .heading-title p {
        font-size: 14px;
    }
    .sticky .logo {
        padding: 5px 0;
    }
    .primary-image.scale-img{
        width: 100%;
    }
    .banner-content {
        border: 0px solid #555;
        margin-right: 15px;
        margin-left: 15px;
        /* padding: 4px; */
    }
    .banner-content.left-type {
        margin-left: 0px;
        margin-right: auto;
        margin-right: 0px;
        text-align: left;
        padding-left: 5px;
    }
    .login-register-area li {
        float: none;
    }
}
